<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <displayName>Reconcilation</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.datascade.auth.JobAuthProperty plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <ownerId>admin</ownerId>
    </com.datascade.auth.JobAuthProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.datascade.DataBuilder plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <config>{
    &quot;sheets&quot;: [
        {
            &quot;name&quot;: &quot;base&quot;,
            &quot;source&quot;: {
                &quot;id&quot;: &quot;file&quot;,
                &quot;location&quot;: &quot;data&quot;,
                &quot;path&quot;: &quot;IBBoost/base.csv&quot;,
                &quot;wildcards&quot;: &quot;NEWEST&quot;,
                &quot;separator&quot;: &quot;,&quot;,
                &quot;typeDetect&quot;: false
            },
            &quot;view&quot;: {
                &quot;id&quot;: &quot;table&quot;
            },
            &quot;ops&quot;: [
                {
                    &quot;columns&quot;: [
                        &quot;+Card Number&quot;
                    ],
                    &quot;id&quot;: &quot;sort&quot;
                }
            ]
        },
        {
            &quot;name&quot;: &quot;target&quot;,
            &quot;source&quot;: {
                &quot;id&quot;: &quot;file&quot;,
                &quot;location&quot;: &quot;data&quot;,
                &quot;path&quot;: &quot;IBBoost/target.csv&quot;,
                &quot;wildcards&quot;: &quot;NEWEST&quot;,
                &quot;separator&quot;: &quot;,&quot;,
                &quot;typeDetect&quot;: false
            },
            &quot;view&quot;: {
                &quot;id&quot;: &quot;table&quot;
            },
            &quot;ops&quot;: [
                {
                    &quot;columns&quot;: [
                        &quot;+Card Number&quot;
                    ],
                    &quot;id&quot;: &quot;sort&quot;
                }
            ]
        },
        {
            &quot;name&quot;: &quot;Reconcilation&quot;,
            &quot;source&quot;: {
                &quot;id&quot;: &quot;compare&quot;,
                &quot;left&quot;: &quot;base&quot;,
                &quot;right&quot;: &quot;target&quot;,
                &quot;maxMismatches&quot;: 3,
                &quot;sorted&quot;: true,
                &quot;keys&quot;: [
                    &quot;Card Number&quot;
                ]
            },
            &quot;view&quot;: {
                &quot;id&quot;: &quot;table&quot;
            },
            &quot;ops&quot;: [
                {
                    &quot;id&quot;: &quot;notes&quot;,
                    &quot;columns&quot;: [
                        &quot;Card Number&quot;
                    ]
                }
            ]
        },
        {
            &quot;name&quot;: &quot;Summary&quot;,
            &quot;source&quot;: {
                &quot;id&quot;: &quot;compare-summary&quot;,
                &quot;ref&quot;: &quot;Reconcilation&quot;
            },
            &quot;view&quot;: {
                &quot;id&quot;: &quot;table&quot;
            },
            &quot;ops&quot;: [
                {
                    &quot;id&quot;: &quot;add&quot;,
                    &quot;name&quot;: &quot;TYPE&quot;,
                    &quot;value&quot;: &quot;= IF(OR(ISTEXT(&apos;MISMATCH COLUMN&apos;), ISTEXT(NOTES)), \&quot;\&quot;, RESULT)&quot;
                },
                {
                    &quot;id&quot;: &quot;add&quot;,
                    &quot;name&quot;: &quot;COLUMN&quot;,
                    &quot;value&quot;: &quot;= IF(ISTEXT(NOTES), \&quot;\&quot;, &apos;MISMATCH COLUMN&apos;)&quot;
                },
                {
                    &quot;id&quot;: &quot;add&quot;,
                    &quot;name&quot;: &quot;TOTAL&quot;,
                    &quot;value&quot;: &quot;= IF(ISTEXT(NOTES), \&quot;\&quot;, COUNT)&quot;
                },
                {
                    &quot;id&quot;: &quot;add&quot;,
                    &quot;name&quot;: &quot;TOTAL NOTES&quot;,
                    &quot;value&quot;: &quot;= IF(ISTEXT(NOTES), COUNT, \&quot;\&quot;)&quot;
                },
                {
                    &quot;id&quot;: &quot;order&quot;,
                    &quot;columns&quot;: [
                        &quot;TYPE&quot;,
                        &quot;COLUMN&quot;,
                        &quot;TOTAL&quot;,
                        &quot;NOTES&quot;,
                        &quot;TOTAL NOTES&quot;
                    ]
                },
                {
                    &quot;id&quot;: &quot;hide&quot;,
                    &quot;columns&quot;: [
                        &quot;RESULT&quot;,
                        &quot;MISMATCH COLUMN&quot;,
                        &quot;COUNT&quot;
                    ]
                }
            ]
        }
    ],
    &quot;outputs&quot;: [],
    &quot;archives&quot;: []
}</config>
    </com.datascade.DataBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.21"/>
  </buildWrappers>
</project>