<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <displayName>GroovyWrite</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.datascade.auth.JobAuthProperty plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <ownerId>admin</ownerId>
    </com.datascade.auth.JobAuthProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.datascade.DataBuilder plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <config>{
    &quot;sheets&quot;: [
        {
            &quot;name&quot;: &quot;Sheet1&quot;,
            &quot;source&quot;: {
                &quot;id&quot;: &quot;groovy&quot;,
                &quot;script&quot;: &quot;// Writing to result\r\n\r\ndef result = []\r\ndef header = []\r\nheader.add(\&quot;Name\&quot;)\r\nheader.add(\&quot;Age\&quot;)\r\nheader.add(\&quot;Score\&quot;)\r\nresult.add(header)\r\ndef row = []\r\nrow.add(\&quot;John\&quot;)\r\nrow.add(\&quot;35\&quot;)\r\nrow.add(\&quot;8\&quot;)\r\nresult.add(row)\r\nreturn result&quot;
            },
            &quot;view&quot;: {
                &quot;id&quot;: &quot;table&quot;
            }
        }
    ],
    &quot;outputs&quot;: [],
    &quot;archives&quot;: []
}</config>
    </com.datascade.DataBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.20"/>
  </buildWrappers>
</project>