<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <displayName>Demo_ReconcilationNotes</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.datascade.auth.JobAuthProperty plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <ownerId>admin</ownerId>
    </com.datascade.auth.JobAuthProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.datascade.DataBuilder plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <config>{
    "sheets": [
        {
            "name": "base",
            "source": {
                "id": "file",
                "location": "Demo",
                "path": "rec/base.csv",
                "wildcards": "NEWEST",
                "separator": ","
            },
            "view": {
                "id": "table"
            },
            "ops": [
                {
                    "columns": [
                        "+Card Number"
                    ],
                    "id": "sort"
                },
                {
                    "id": "add",
                    "name": "newCredit",
                    "value": "=VALUE('Credit Limit')"
                },
                {
                    "map": {
                        "Credit Limit": "0.00",
                        "Card Number": "0"
                    },
                    "id": "format"
                },
                {
                    "columns": [
                        "CVV/CVV2",
                        "Card PIN"
                    ],
                    "id": "hide"
                }
            ]
        },
        {
            "name": "target",
            "source": {
                "id": "file",
                "location": "Demo",
                "path": "rec/target.csv",
                "wildcards": "NEWEST",
                "separator": ","
            },
            "view": {
                "id": "table"
            },
            "ops": [
                {
                    "columns": [
                        "+Card Number"
                    ],
                    "id": "sort"
                },
                {
                    "id": "add",
                    "name": "newCredit",
                    "value": "=VALUE('Credit Limit')"
                },
                {
                    "map": {
                        "Credit Limit": "0.00",
                        "Card Number": "0"
                    },
                    "id": "format"
                },
                {
                    "columns": [
                        "CVV/CVV2",
                        "Card PIN"
                    ],
                    "id": "hide"
                }
            ]
        },
        {
            "name": "Reconcilation",
            "source": {
                "id": "compare",
                "left": "base",
                "right": "target",
                "maxMismatches": 16,
                "sorted": true,
                "keys": [
                    "Card Number",
                    "Card Type Full Name"
                ],
                "tolerances": {
                    "newCredit": "1000"
                }
            },
            "view": {
                "id": "table"
            },
            "ops": [
                {
                    "id": "notes",
                    "columns": [
                        "Card Number"
                    ]
                },
                {
                    "map": {
                        "Card Number": "0"
                    },
                    "id": "format"
                }
            ]
        },
        {
            "name": "Summary",
            "source": {
                "id": "compare-summary",
                "ref": "Reconcilation"
            },
            "view": {
                "id": "table"
            },
            "ops": [
                {
                    "id": "add",
                    "name": "TYPE",
                    "value": "= IF(OR(ISTEXT('MISMATCH COLUMN'), ISTEXT(NOTES)), \"\", RESULT)"
                },
                {
                    "id": "add",
                    "name": "COLUMN",
                    "value": "= IF(ISTEXT(NOTES), \"\", 'MISMATCH COLUMN')"
                },
                {
                    "id": "add",
                    "name": "TOTAL",
                    "value": "= IF(ISTEXT(NOTES), \"\", COUNT)"
                },
                {
                    "id": "add",
                    "name": "TOTAL NOTES",
                    "value": "= IF(ISTEXT(NOTES), COUNT, \"\")"
                },
                {
                    "id": "order",
                    "columns": [
                        "TYPE",
                        "COLUMN",
                        "TOTAL",
                        "NOTES",
                        "TOTAL NOTES"
                    ]
                },
                {
                    "id": "hide",
                    "columns": [
                        "RESULT",
                        "MISMATCH COLUMN",
                        "COUNT"
                    ]
                }
            ]
        },
        {
            "name": "Notes",
            "source": {
                "id": "notes",
                "ref": "Reconcilation"
            },
            "view": {
                "id": "table"
            },
            "ops": [
                {
                    "columns": [
                        "RESULT",
                        "Card Type Full Name",
                        "Issuing Bank (B)",
                        "Issuing Bank (T)",
                        "Card Holder's Name (B)",
                        "Card Holder's Name (T)",
                        "CVV/CVV2 (B)",
                        "CVV/CVV2 (T)",
                        "Issue Date (B)",
                        "Issue Date (T)",
                        "Expiry Date (B)",
                        "Expiry Date (T)",
                        "Billing Date (B)",
                        "Billing Date (T)",
                        "Card PIN (B)",
                        "Card PIN (T)",
                        "Credit Limit (B)",
                        "Credit Limit (T)",
                        "newCredit (B)",
                        "newCredit (T)"
                    ],
                    "id": "hide"
                },
                {
                    "map": {
                        "Card Number": "0"
                    },
                    "id": "format"
                }
            ]
        }
    ],
    "outputs": [],
    "archives": []
}</config>
    </com.datascade.DataBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.21"/>
  </buildWrappers>
</project>