<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <displayName>Demo_JobArtifact</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.datascade.auth.JobAuthProperty plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <ownerId>admin</ownerId>
    </com.datascade.auth.JobAuthProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.datascade.DataBuilder plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <config>{
    &quot;sheets&quot;: [
        {
            &quot;name&quot;: &quot;Sheet1&quot;,
            &quot;source&quot;: {
                &quot;id&quot;: &quot;macro&quot;,
                &quot;job&quot;: &quot;demo-group&quot;,
                &quot;file&quot;: &quot;Sheet2.csv&quot;
            },
            &quot;view&quot;: {
                &quot;id&quot;: &quot;table&quot;,
                &quot;grouped&quot;: true
            },
            &quot;ops&quot;: [
                {
                    &quot;columns&quot;: [
                        &quot;Author&quot;,
                        &quot;Published Date&quot;,
                        &quot;item title&quot;,
                        &quot;item description&quot;,
                        &quot;item pubDate&quot;
                    ],
                    &quot;id&quot;: &quot;order&quot;
                }
            ]
        }
    ],
    &quot;outputs&quot;: [],
    &quot;archives&quot;: []
}</config>
    </com.datascade.DataBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.21"/>
  </buildWrappers>
</project>