<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <displayName>jira</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.datascade.auth.JobAuthProperty plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <ownerId>admin</ownerId>
    </com.datascade.auth.JobAuthProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.datascade.DataBuilder plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <config>{
    "sheets": [
        {
            "name": "Sheet1",
            "source": {
                "id": "http",
                "url": "https://jbrains.atlassian.net/rest/api/latest/search?expand=names,renderedFields",
                "auth": "jira-user-token"
            },
            "view": {
                "id": "table"
            },
            "ops": [
                {
                    "id": "convert",
                    "columns": [
                        "issues/key",
                        "issues/renderedFields/created",
                        "issues/fields/parent/fields/status/name",
                        "issues/fields/project/name",
                        "issues/fields/parent/fields/summary",
                        "issues/fields/summary",
                        "issues/fields/issuetype/name",
                        "issues/fields/status/name",
                        "issues/fields/status/statusCategory/name"
                    ]
                }
            ]
        },
        {
            "name": "Sheet2",
            "source": {
                "id": "sheet",
                "ref": "Sheet1"
            },
            "view": {
                "id": "html"
            },
            "ops": [
                {
                    "columns": [
                        "renderedFields created",
                        "status name",
                        "project name",
                        "fields summary",
                        "statusCategory name"
                    ],
                    "id": "hide"
                }
            ]
        }
    ],
    "outputs": [],
    "archives": []
}</config>
    </com.datascade.DataBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.21"/>
  </buildWrappers>
</project>