<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description/>
  <displayName>Demo_http</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.datascade.auth.JobAuthProperty plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <ownerId>admin</ownerId>
    </com.datascade.auth.JobAuthProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.datascade.DataBuilder plugin="datascade-jenkins-plugin@1.0-SNAPSHOT">
      <config>{
    "sheets": [
        {
            "name": "rss",
            "source": {
                "id": "http",
                "url": "https://news.un.org/feed/subscribe/en/news/all/rss.xml"
            },
            "view": {
                "id": "table"
            },
            "ops": [
                {
                    "id": "convert",
                    "columns": [
                        "rss/channel/item/title",
                        "rss/channel/item/description",
                        "rss/channel/item/link",
                        "rss/channel/item/pubDate"
                    ]
                }
            ]
        },
        {
            "name": "news",
            "source": {
                "id": "sheet",
                "ref": "rss"
            },
            "view": {
                "id": "table",
                "grouped": true
            },
            "ops": [
                {
                    "map": {
                        "item title": "Title",
                        "item description": "Description",
                        "item link": "Link"
                    },
                    "id": "rename"
                },
                {
                    "id": "add",
                    "name": "pubdate",
                    "value": "=(MID('item pubDate',6,12))"
                },
                {
                    "id": "add",
                    "name": "Published Date",
                    "value": "=VALUE('pubDate')"
                },
                {
                    "columns": [
                        "item pubDate"
                    ],
                    "id": "hide"
                },
                {
                    "columns": [
                        "pubdate",
                        "item title",
                        "item description",
                        "item link",
                        "item pubDate",
                        "Published Date"
                    ],
                    "id": "order"
                }
            ]
        }
    ],
    "outputs": [],
    "archives": []
}</config>
    </com.datascade.DataBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.21"/>
  </buildWrappers>
</project>